@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-base-100: oklch(98.5% 0 0); /* Backgrounds */
  --color-base-200: oklch(26.9% 0 0); /* Main text & icons */
  --color-base-300: oklch(37.1% 0 0); /* Secondary text */
}

[data-theme="dark"] {
  --color-base-100: oklch(20.5% 0 0); /* Backgrounds */
  --color-base-200: oklch(92.2% 0 0); /* Main text & icons */
  --color-base-300: oklch(87% 0 0); /* Secondary text */
}

h1 {
  font-family: var(--font-roboto);
}
